{% extends 'main.html' %}

  {% block content %}
      <!-- Home Section --> 

    <section class='home' id='home'>
      <div class='content'>
        <h3>Its time to celebrate ! the best<span>events organizers</span></h3>
        <a href = '#' class = 'btn'>Contact Us</a>
      </div>

      <div class = "swiper-container home-slider">
        <div class = "swiper-wrapper">
            <div class = 'swiper-slide'><img src = 'static/images/image1.jpg' alt = ''></div>
            <div class = 'swiper-slide'><img src = 'static/images/image2.jpg' alt = ''></div>
            <div class = 'swiper-slide'><img src = 'static/images/image3.jpg' alt = ''></div>
            <div class = 'swiper-slide'><img src = 'static/images/image4.jpg' alt = ''></div>
            <div class = 'swiper-slide'><img src = 'static/images/image5.jpg' alt = ''></div>
        </div>
      </div>
      <!--home section ends -->
      
    <!--Service Section Starts-->
    <section class="service" id="service">
      <h1 class="heading">Our <span>Services</span></h1>
      <div class = "box-container">
        <div class="box">
          <i class = "fas fa-map-marker-alt"></i>
          <h3>Venue Selection</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ad nisi reiciendis temporibus alias repudiandae eaque quibusdam. Facilis consequuntur impedit nihil ea exercitationem, suscipit ad voluptate rerum ducimus sequi commodi!</p>
        </div>

        <div class="box">
          <i class = "fas fa-envelope"></i>
          <h3>Invitation Card</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ad nisi reiciendis temporibus alias repudiandae eaque quibusdam. Facilis consequuntur impedit nihil ea exercitationem, suscipit ad voluptate rerum ducimus sequi commodi!</p>
        </div>

        <div class="box">
          <i class = "fas fa-music"></i>
          <h3>Entertainment</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ad nisi reiciendis temporibus alias repudiandae eaque quibusdam. Facilis consequuntur impedit nihil ea exercitationem, suscipit ad voluptate rerum ducimus sequi commodi!</p>
        </div>

        <div class="box">
          <i class = "fas fa-utensils"></i>
          <h3>Food and Drinks</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ad nisi reiciendis temporibus alias repudiandae eaque quibusdam. Facilis consequuntur impedit nihil ea exercitationem, suscipit ad voluptate rerum ducimus sequi commodi!</p>
        </div>

        <div class="box">
          <i class = "fas fa-photo-video"></i>
          <h3>Photos and Videos</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ad nisi reiciendis temporibus alias repudiandae eaque quibusdam. Facilis consequuntur impedit nihil ea exercitationem, suscipit ad voluptate rerum ducimus sequi commodi!</p>
        </div>

        <div class="box">
          <i class = "fas fa-birthday-cake"></i>
          <h3>custom food</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ad nisi reiciendis temporibus alias repudiandae eaque quibusdam. Facilis consequuntur impedit nihil ea exercitationem, suscipit ad voluptate rerum ducimus sequi commodi!</p>
        </div>
      </div>  
    </section>

    <!--about section starts -->

    <section class="about" id="about">

      <h3 class="heading"><span>about</span></h3>
      <div class="row">
        <div class="image">
          <img src="static/images/image6.jpg" alt="">
        </div>

        <div class="content">
          <h3>We will give a very special celebratation for you!</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, ab assumenda cumque optio sit sed eaque adipisci? Cum suscipit eum non possimus nemo quasi nam error quos esse, nostrum ducimus!</p>
          <a href="#" class="btn">Contact us</a>
        </div>
      </div>
    </section>
    <!--Gallery Section Starts here-->
    <section class="gallery" id="gallery">
      <h1 class="heading">our <span>gallery</span></h1>
      <div class="box-container">
        <div class="box">
          <img src = "static/images/image7.jpg" alt = "">
          <h3 class = "title">Photos and events</h3>
          <div class="icons">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-share"></a>
            <a href="#" class="fas fa-eye"></a>
          </div>
        </div>  

        <div class="box">
          <img src = "static/images/image8.jpg" alt = "">
          <h3 class = "title">Photos and events</h3>
          <div class="icons">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-share"></a>
            <a href="#" class="fas fa-eye"></a>
          </div>
        </div>   

          <div class="box">
            <img src= "static/images/image9.jpg" alt = "">
            <h3 class = "title">Photos and events</h3>
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-share"></a>
              <a href="#" class="fas fa-eye"></a>
            </div>   
          </div>   
          
            <div class="box">
              <img src = "static/images/image10.jpg" alt = "">
              <h3 class = "title">Photos and events</h3>
              <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
              </div> 
            </div>   
      </div>
    </section>

<!--price section starts here-->
    <section class="price" id = "price">
      <h1 class="heading">our <span>price</span></h1>
      <div class="box-container">
        <div class="box">
          <h3 class = "title">for birthdays</h3>
          <h3 class = "amount">2500₹</h3>
          <ul>
            <li><i class="fas fa-check"></i>full Services</li>
            <li><i class="fas fa-check"></i>decorations</li>
            <li><i class="fas fa-check"></i>music and Photos</li>
            <li><i class="fas fa-check"></i>invitation Card</li>
          </ul>
          <a href="{% url 'base_with_event_type' event_type='birthday' %}" class="btn">checkout</a>
        </div>  


        <div class="box">
          <h3 class = "title">for wedding</h3>
          <h3 class = "amount">10,000₹</h3>
          <ul>
            <li><i class="fas fa-check"></i>full Services</li>
            <li><i class="fas fa-check"></i>decorations</li>
            <li><i class="fas fa-check"></i>music and Photos</li>
            <li><i class="fas fa-check"></i>invitation Card</li>
          </ul>
          <a href="{% url 'base_with_event_type' event_type='wedding' %}" class="btn">checkout</a>
        </div>  


        <div class="box">
          <h3 class = "title">for concerts</h3>
          <h3 class = "amount">8000₹</h3>
          <ul>
            <li><i class="fas fa-check"></i>full Services</li>
            <li><i class="fas fa-check"></i>decorations</li>
            <li><i class="fas fa-check"></i>music and Photos</li>
            <li><i class="fas fa-check"></i>invitation Card</li>
          </ul>
          <a href="{% url 'base_with_event_type' event_type='concert' %}" class="btn">checkout</a>
        </div>  

        <div class="box">
          <h3 class = "title">for others</h3>
          <h3 class = "amount">7000₹ plus extension</h3>
          <ul>
            <li><i class="fas fa-check"></i>full Services</li>
            <li><i class="fas fa-check"></i>decorations</li>
            <li><i class="fas fa-check"></i>music and Photos</li>
            <li><i class="fas fa-check"></i>invitation Card</li>
          </ul>
          <a href="{% url 'base_with_event_type' event_type='others' %}" class="btn">checkout</a>
        </div>  

      </div>
    </section>
<!--reivew section starts-->
    {% endblock %}
